body {
        background: url('/media/background_image_1.jpeg') no-repeat center center fixed;
        background-size: cover;
        /* Height of image set to 100vh - the navbar height */
        height: calc(100vh - 59px); 
        font-family: 'Patua One', cursive;
    }
