{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% endblock %}

{% block page_header %}
    <div class="container header-container"></div>
{% endblock %}

{% block content %}
<div class="body-overlay"></div>
    <div class="container-fluid">
        <div class="row product-container" data-masonry='{"percentPosition": true }'>
            {% for product in products %}
            <!-- Card from Bootstrap -->
                    {% if product.image %}
                        <div class="col image-container">
                            <img class="product-card-img" src="{{ product.image_url }}" alt="Image of: {{ product.name }}"/>
                        </div>
                    {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

