{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container"></div>
{% endblock %}

{% block content %}
<div class=""></div>
<div class="">
    <div class="">
        <div class="">
            <!-- Page Title -->
            <!-- Card from Bootstrap -->
            <div class="jumbotron">
                <h1 class="display-4 logo-font-lg">
                    Welcome
                </h1>
            <hr class="my-4">
                <p class="lead">
                    My name is Finally Fri
                </p> 
                <hr class="my-4">
                <p>
                    If you would like to book a consultation, please make an account or sign in if you already have one.<br>
                    To learn more about what I can do, click below.
                </p>
                <a class="btn btn-primary btn-lg learn-more-button" href="" role="button">
                    Learn more
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}